<header class="navbar navbar-default navbar-fixed-top" style="background-color: #000000">
  <div class="container">
    <br>
    <%= link_to 'Admin Page', root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-center">
        <li><%= link_to 'Main' %></li>
        <li><%= link_to 'Our Company' %></li>
        <li><%= link_to 'Catalog' %></li>
        <li><%= link_to 'News' %></li>
        <li><%= link_to 'Special offers' %></li>
        <li><%= link_to 'Delivery' %></li>
        <li><%= link_to 'Contacts' %></li>
      </ul>
    </nav>
  </div>
</header>
